colour = #2980b9
font-url = "https://fonts.googleapis.com/css?family=Zilla+Slab:400,600,700"
font-family = 'Zilla Slab', serif
spacing = 10px

@import url(font-url);

body {
  font-family: font-family;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 1.2em;
  margin: 3*spacing 0 0;
  text-align: center;
}

h2 {
  font-size: 0.8em;
  margin: 0 0 3*spacing;
  opacity: 0.5;
  text-align: center;
}

a {
  &:link, &:visited {
    color: colour;
    position: relative;
    text-decoration: none;
    transition: 0.2s;

    &::after {
      background: colour;
      bottom: -1px;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 100%;
      transition: inherit;
    }
  }

  &:hover::after {
    background: alpha(colour, 0.15);
    left: -2px;
    right: -2px;
    top: 0;
  }
}

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 3*spacing 0;

  a {
    margin: 0 spacing;
    padding: 3px 1px;

    img {
      opacity: 0.6;
    }
  }
}
