@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:400,600,700')

blue = #2980b9
containerWidth = 800px
grey = #cccccc
spacing = 10px

body
  font-family: 'Zilla Slab', serif
  margin: 0

h1
  font-size: 1.2em
  margin: 3*spacing 0 0
  text-align: center

h2
  font-size: 0.8em
  margin: 0 0 3*spacing
  opacity: 0.5
  text-align: center

h3
  font-size: inherit
  line-height: 1
  margin: 0

a
  &:link, &:visited
    border-bottom: 1px solid blue
    color: blue
    text-decoration: none
    text-shadow: 2px 2px 0px white, -2px 2px 0px white
    transition: 0.5s

  &:hover
    opacity: 0.8

table
  border-collapse: collapse
  margin: auto
  width: containerWidth

  thead
    td, th
      border-bottom: 1px solid grey
      font-size: 0.9em
      font-variant: small-caps

  tbody td
    border-bottom: 1px solid #eeeeee
    padding: spacing 0

  @media (max-width: containerWidth)
    width: 100%

.loading
  background: url('./loader.svg')
  display: inline-block

.error
  border-bottom: 1px grey solid
  display: inline-block
  width: 2*spacing
